@import "normalize.css";
@import "variables.css";
@import "profile.css";
@import "map.css";
@import "timer.css";
@import "loader.css";

body {
  background-color: var(--bg);
}

.container {
  display: flex;
  gap: 50px;
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  background-color: var(--active-bg);
}

.navbar-nav {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.nav-link.active {
  background-color: var(--active-bg);
}
