@import "variables.css";

main {
  background-color: var(--active-bg);
  padding: var(--main-padding);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  max-width: 680px;
}

.skills {
  display: flex;
  gap: 13px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  max-height: 480px;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

h4,
h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h5 {
  color: var(--second-tx);
}

.avatar {
  max-width: 216px;
  max-height: 216px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.contacts {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.list-group {
  display: inline-block;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.greetings {
  background-color: white;
  padding: 15px;
  border-radius: var(--radius);
  position: absolute;
  box-shadow: var(--shadow);
}

.final {
  position: relative;
}

@media screen and (max-width: 980px) {
  .avatar {
    max-width: 146px;
    max-height: 146px;
  }

  h3 {
    font-size: 1.2em;
  }

  h4,
  h5 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 765px) {
  .container {
    flex-direction: column;
  }

  .about {
    order: 2;
  }

  aside {
    order: 1;
    max-width: 60%;
    margin: 0 auto;
  }
}
